{% extends 'base/main.html' %}



{% block body %}

<div class="col-lg-8 mx-auto p-3 py-md-5" dir="rtl">
  
    <main>
      <h1>{{blog.title}}</h1>
      <p class="fs-5 col-md-8">{{blog.description}}</p>
      
      تاریخ ایجاد: <span>{{blog.time}}</span>
      <br><br>
      نویسنده:{{blog.author}}
      <br><br>
      بازدید:{{blog.view}}
      <br><br>
      <div class="mb-5">
      </div>
  
  
  
  

    </main>
    <footer class="pt-5 my-5 text-muted border-top">
      <form method="POST">
        {% csrf_token %}
        {{comment_form.as_p}}
        <input type="submit" value="ایجاد نظر">
      </form>
      <p dir="rtl">نظرات:</p>
      {% for comment in comments %}
        {{comment.full_name}}:{{comment.text}}<br>
      {% endfor %}
    </footer>
  </div>

{% endblock body %}